
    div{
        background-color: red; 
        height:100px;
        width:300px;
    }
    .emc{
        color: beige;
    }
    #one{
        color: cornflowerblue;
    }
    h1{
        color: blue;
    }
    p{
        color: black;
    }
   